@model HomepageViewModel

<h1>
    @Model.Page.Name
</h1>

@foreach (var page in Model.RelatedContent)
{
    <div>
        @{
            Html.RenderContentData(page, false, "ArticlePartial");
        }
    </div>
}